@media (max-width: 768px) {
      .display{
        width:70vw;
      }
    }
    

.container{display: flex;
           flex-direction: column;
          background:#e1eec3 ;
          color: #f05053;
          padding: 15px;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;}

.display{display: flex;
           gap:100px;
           flex-wrap: wrap;
           justify-content: end;
           align-items: center;
           }

.user{display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap:10px;
      cursor: pointer;}

.computer{display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:10px;}

.result{
   text-align: center;
}

button{font-size: medium;
       padding:5px 10px;
       background:rgb(56, 126, 209);
       border: none;
       border-radius: 3px;
       color: white;
      }

button:hover{cursor: pointer;
             background: black;}